/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 668px;
  height: 100vh;
  padding: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  min-width: 70px;
  min-height: 26px;
  border: none;
  padding: 0 13px;
  color: var(--button-color);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid color-mix(in srgb, var(--button-color) 40%, transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
}

.header__title {
  align-self: center;
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  color: var(--decorated-text-color);
  font-weight: 700;
  background-color: var(--accent-color);
}

.header__description {
  align-self: center;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -19px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  color: var(--accent-color);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-block-start: 1px solid currentColor;
  border-inline-end: 1px solid currentColor;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-block-end: 1px solid currentColor;
  border-inline-start: 1px solid currentColor;
}

.content {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.content__section {
  display: grid;
  gap: 20px;
}

.content__section-title {
  color: var(--section-title-color);
  font-size: inherit;
  line-height: inherit;
}

.content__cards-list {
  display: grid;
  gap: 20px;
}

.content__card {
  display: grid;
  gap: 10px;
}

.content__card-title {
  font-size: inherit;
  line-height: inherit;
}

.content__card-title_weight_regular {
  font-weight: 400;
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content__link:hover {
  border-block-end: 1px solid currentColor;
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid currentColor;
}

.gallery {
  gap: 10px;
}

.gallery__image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
}

.gallery__image_type_sunset {
  aspect-ratio: 1500 / 600;
}

.gallery__image_type_ice-cream,
.gallery__image_type_books {
  aspect-ratio: 1 / 1;
}

.gallery__image_type_tape,
.gallery__image_type_street {
  aspect-ratio: 3 / 2;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 668px;
  height: 100vh;
  padding: 10px;
}

.footer__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header,
  .footer {
    padding: 20px;
  }

  .header__rec {
    top: 20px;
    right: 48px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    justify-self: end;
    inline-size: 50%;
  }

  .content {
    gap: 80px;
    padding: 60px 20px;
  }

  .reasons,
  .advice {
    grid-template-columns: 1fr 2fr;
  }

  .reasons .content__cards-list,
  .advice .content__cards-list {
    grid-column: 2;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery .content__card-title {
    grid-column: 1 / -1;
  }

  .gallery__image {
    block-size: 100%;
  }

  .gallery__image_type_sunset {
    grid-column: 1 / 3;
  }

  .gallery__image_type_ice-cream {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .gallery__image_type_street {
    grid-column: 1 / -1;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .concentration .content__cards-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
